* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(32, 32, 32);
    color: white;
    font-family: arial, verdana, 'Times New Roman';
}
header {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(21, 20, 22);
    box-shadow: 10px 10px 50px  rgb(5, 0, 10);
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
 }
.conteiner img {
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}
.conteiner {
    width: 1400px;
    margin: auto;
}
.NV {
    display: flex;
    float: right;
    justify-content: center;
}
.NV li {
    margin: 20px;
    list-style-type: none;
    text-align: center;
}
.NV li a {
    color: white;
    font-size: 16px;
    text-decoration: none;  
    margin: 40px;
    display: inline-block;
    transition: 1s;
}
.NV li a:hover {
    background-color: yellow;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 50px rgb(78, 78, 0);
    color: black;
    transform: scale(1.2);
}
main {
    width: 1400px;
    margin: auto;
}
.tex-center {
    text-align: center;
    margin: 50px;
}
.tex-center h1 {
    margin: auto;
    font-size: 30px;
    color: blueviolet;
    background-color: rgb(11, 20, 29);
    padding: 15px;
    width: 450px;
    border-radius: 15px;
}








::-webkit-scrollbar {
    background-color: rgb(54, 57, 58);
   }
   ::-webkit-scrollbar-thumb {
       background-color: rgb(116, 0, 170);
   }